.App {
  text-align: center;
}

.container-table {
  max-width: 1000px;
}

.action:hover {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
